// nav color
$primary-color: #003263;
// div color
$secondary-color: #8DDBCF;
// outline
$tertiary-color: #8B000B;
// Text 1
$fourth-color: white;
// Text 2
$fifth-color: #080738;

$home-image: url(../img/home.jpg);
$about-image: url(../img/canoe2.jpg);
$background-opacity: 0.9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  line-height: 100%;
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  list-style-type: none;
}

@mixin easeOutBG() {
  transition: all .2s ease-out;
  background-color: $tertiary-color;
}

@mixin easeOutFT() {
  transition: all .2s ease-out;
  color: $tertiary-color;
}

@mixin easeOutNAV() {
  transition: all .2s ease-out;
  color: $secondary-color;
}

@mixin button() {
  margin-right: .5rem;
  padding: 1rem 1.5rem;
  border: 2px solid $tertiary-color;
  background: $primary-color;
  border-radius: 2px;
  color: $fourth-color;
  font-size: 1rem;
  font-weight: 500;

  a {
    color: $fourth-color;
  }
  
  &:hover {
    cursor: pointer;
    @include easeOutBG();
  }
}